[alias]
	ap = add -p
	au = add -u
	br = branch
	cb = checkout -b
	ci = commit -v
	co = checkout
	cp = cherry-pick
	dc = diff --cached
	dt = difftool
	dw = diff -w
	ed = !vim $(git status -s | awk '{print $2}')
	lb = for-each-ref --sort=committerdate refs/heads/ --format='%(committerdate:short) %(refname:short)'
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue(%an)%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	ls = log --oneline
	pf = push --force-with-lease
	sl = stash list --date=local
	sp = "!f() { git stash pop stash@{${1:-0}} ; }; f"
	ss = "!f() { git stash show stash@{${1:-0}} ; }; f"
	st = status
	sh = show --name-status --pretty=short --abbrev-commit
	um = "!git ls-files -u | cut -f 2 | sort -u" # git diff --name-only --diff-filter=U
[core]
	editor = vim
	excludesFile = ~/.gitignore
	pager = "less -F -X"
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[fetch]
	prune = true
[include]
	path = ~/.gitconfig.local
[rebase]
	autosquash = true
[pull]
	ff = only
